html,
body {
  background: #e9c267;
  color: #143d59;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: Sans-serif, cursive;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  font-family: Sans-serif, cursive;
  font-style: bolder;
  display: block;
  margin: 0 auto;
  border: none;
  color: white;
  border-radius: 0.75rem;
  background: #185faa;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:hover {
  background: #2971be;
}

button:focus {
  background: #0d4683;
  border: rgb(83, 76, 76);
}

h1,
h2 {
  font-size: 20px;
  text-align: center;
}

textarea {
  font-family: Sans-serif, cursive;
  border: 3px solid #0d4683;
  border-radius: 0.75rem;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #f1e8d1;
  padding: 10px;
}

.loader {
  padding: 10px 30px;
}

.card {
  border-radius: 00.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  display: flex;
  justify-self: center;
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: bold;
}

.card:hover {
  background-color: #f7cc68;
}

.highscore {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  font-weight: bold;
}
